<h1><%= @user.firstname%>'s Profile</h1>
<hr>
<tr>
  <h4>FullName:</h4><td><%= @user.firstname%></td>
  <td><%= @user.lastname%></td>
  <h4>Email:</h4><p><%= @user.email%></p>
  <p><%=@review.text%></p>
</tr>
<hr>