<!DOCTYPE html>
<html>
  <head>
    <title>RottenMangoes</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><strong><%= link_to "Rotten Mangoes", movies_path, class:"brand_heading" %></strong></div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Log In", new_session_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Log Out", session_path("current"), method: :delete %></li>
          </ul>
          <ul class="nav navbar-text navbar-right">
            <% if current_user %>
              <li>Signed in as: <%= current_user.full_name %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div>
          <% flash.each do |key, value| %>
          <%= content_tag(:div, value) %>
          <% end %>
        </div>
      </div>

      <%= yield %>
    
    </div>
    <%= render 'layouts/footer' %> 
  </body>
</html>


